@media (max-width: 992px) {
  .nav-list {
    display: none !important;
    justify-content: space-between !important;
  }
  .orange-card {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding-top: 30px;
    background-position: center;
  }
  #og-card-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .about-h-bg {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .service-card {
    display: block;
    margin: auto;
  }
}
